<script type="module" src="/assets/scripts/narrative-plot.js"></script>
<script  type="application/javascript">
let path = {{{JSONstringify path}}};
</script>
<script  type="application/javascript">
let textData = {{{textData}}};
</script>
<h1>Corpora - &quot;{{corpora.fullName}}&quot;</h1>
<p>
    Path {{pathId}}: 
    {{#each path}}
    <span class="passage">{{this}}</span>
    {{/each}}
</p>
<svg id="narrative-plot">
</svg>