<h1>Corpora - &quot;{{corpora.fullName}}&quot;</h1>
<p>Name: &quot;{{corpora.fullName}}&quot;</p>
<p>Author: {{corpora.author}}</p>
<p>Original source: <a href={{corpora.source}}>{{corpora.source}}</a></p>